@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider @bind-IsDarkMode="@isDarkMode" Theme="theme" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudTooltip Text="Strona główna">
            <div style="height:72px" class="pa-1 pl-16">
                <a href="/">
                    <img draggable="false" src="img/logo.jpg" style="height:100%;" />
                </a>
            </div>
        </MudTooltip>
        <MudSpacer />
        <MudSwitch @bind-Value="isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" ThumbIcon="@(isDarkMode ? @Icons.Material.Filled.DarkMode : @Icons.Material.Filled.LightMode)" />
    </MudAppBar>
    <MudDrawer @bind-Open="drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private MudTheme theme = new();
    private bool isDarkMode = true;
    bool drawerOpen = true;

    void DrawerToggle()
    {
        drawerOpen = !drawerOpen;
    }
}